<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="usc.dcis.teacherattendancesystem">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <supports-screens
            android:largeScreens="true"
            android:normalScreens="true"
            android:smallScreens="true"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">
        <activity
                android:name=".Images"
                android:label="@string/title_activity_images"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <provider
                android:name="android.support.v4.content.FileProvider"
                android:authorities="com.example.android.fileprovider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/filepath">
            </meta-data>
        </provider>

        <activity
                android:name=".Camera"
                android:label="@string/title_activity_camera"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".splashscreen"
                android:theme="@style/AppTheme_3">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".SchedListTeacher"
                android:label="@string/title_activity_sched_list_teacher"
                android:theme="@style/AppTheme_2">
        </activity>
        <activity
                android:name=".roomSchedule"
                android:label="Room Schedule"
                android:theme="@style/AppTheme_2">
        </activity>
        <activity
                android:name=".room_assignment_info"
                android:label="@string/title_activity_room_assignment_info"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".subjectInfo"
                android:label="@string/title_activity_subject_info"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".chooseschedule"
                android:label=""
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".menu.Menu"
                android:label="@string/title_activity_menu"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".SchedListStudent"
                android:label="Student Schedule List"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme_2">
        </activity>
        <activity
                android:name=".activity_editschedule"
                android:label="Edit Schedule"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme_2">
        </activity>
        <activity
                android:name=".MainActivity"
                android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>